@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

a:hover {
    font-weight: 600;
    text-decoration: underline;
}

