@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url("../assets/fundo-madeira.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    
}


section#mobile {
    position: absolute;
    background-image: url("../assets/frame-iphone.png");
}
